In [1]:
"""Python program to print all odd numbers in a list"""
O_list = [1,2,3,4,5,6,7,8,9]
odd = [num for num in O_list if num % 2 != 0]
print("odd numbers is : ", odd)

odd numbers is :  [1, 3, 5, 7, 9]

In [2]:
"""Python program to find the sum of list element"""
numlist = ['1','0','47','44','11','54','28','69','45']
plus=0
for i in numlist:
    plus+=int(i)
print('Sum of List: ',plus)

Sum of List:  299

In [3]:
"""Python program to reverse a list in two ways"""
Cars = ['Toyota','Kia','Hundai','Suzuki']
reverse = Cars[::-1]
print(reverse)

['Suzuki', 'Hundai', 'Kia', 'Toyota']

In [4]:
"""Python program in python to find the second highest number in list"""

a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Second largest element is:",a[n-2])

Enter number of elements:15
Enter element:45
Enter element:86
Enter element:79
Enter element:21
Enter element:84
Enter element:97
Enter element:46
Enter element:25
Enter element:78
Enter element:92
Enter element:15
Enter element:97
Enter element:25
Enter element:4
Enter element:57
Second largest element is: 97

In [5]:
"""maximum number prograam"""
heights = [12, 21, 30, 101, 11, 15]
largest_number = heights[0]
for number in heights:
    if number > largest_number:
        largest_number = number
print(largest_number)

101

In [6]:
"""program which sort in desending order"""
list1=['ahmed' , 'ali' ,' mohsin' , 'saqlain']
list1.sort()
print(list1)

[' mohsin', 'ahmed', 'ali', 'saqlain']

In [7]:
"""program which remove element"""
name=['ahmed' , 'muneeb' , 'saqlain' , 'rehmat' , 'wajid' , 'monis']
name.remove('monis')
print(name)

['ahmed', 'muneeb', 'saqlain', 'rehmat', 'wajid']

In [12]:
"""program which check it is vovel or consonant"""
char = input("Enter a character: ")

if(char=='A' or char=='a' or char=='E' or char =='e' or char=='I'
 or char=='i' or char=='O' or char=='o' or char=='U' or char=='u'):
    print(char, "is a Vowel")
else:
    print(char, "is a Consonant")

Enter a character: h
h is a Consonant

In [ ]:
"""Python program to find the factorial of a number provided by the user."""


num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

In [13]:
"""program which merge two list"""
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]